body {
    background-color: #C2FFF9;
  }
  
  h1 {
    color: white;
    text-align: center;
    background-color:cornflowerblue;
    font-weight: bolder;
  }
  
  p {
    font-family:'Segoe UI', Tahoma, 'Geneva', Verdana, 'sans-serif';
    color: rebeccapurple;
    font-size: 29px;
    text-align:justify;
    font-weight:900;
    /* background-color: cornflowerblue; */
    text-decoration: underline dotted;
    text-decoration-color: yellow;
    letter-spacing:.1cm;
  }
  button
  {
    color:rgb(1, 1, 1);
    background-color: #009DAE;
    font-size: 20px;
  }
  input
  {
    line-height: 2;
    color: black;
    font-weight: 200;
    font-size: medium;
  }
   label
  {
    color: black;
    font-weight: 400;
    font-size: medium;
  }
  div a:hover{
    color: black;
  }